
body{
    background-color: #176B87;
}
table, p, {
    color: #EEEEEE;
}
nav {
    color: #053B50;
    background-color: #64CCC5;
}
nav a:hover {background-color: #176B87;}
nav {padding: 10px;}
nav {margin: 30px;}
h1, h2 {
    color: #64CCC5;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
         }
h1 { size: 1.0em}
h2 {size:0.75em}
.special {color: purple}
.evenrow {background-color: blueviolet;}
link{ color: #EEEEEE; }